{% extends 'base.html.twig' %}

{% block title %}Modification du profile{% endblock %}

{% block body %}
{% if app.user.id == user.id or is_granted("ROLE_ADMIN") %}
<h1 class="text-warning">Bonjour {{ app.user.civilite ? 'Monsieur' : 'Madame' }} {{ app.user.nom }} {{ app.user.prenom
    }}</h1>
<div class="card border-info mb-3" style="max-width: 80%; margin: auto; padding: 2em;">
    <div style="max-width: 100%;">
        <div class="card-header text-danger">N°: {{ app.user.id }}<br>
        </div>
        <div class="card-body text-success">
            <p class="card-text">ADRESSE : <br>{{ app.user.adresse }}<br> {{ app.user.cp }}<br> {{ app.user.ville }}</p>
            Tel. <a href="tel:{{ user.telephone }}">{{ user.telephone }}</a><br>
            <h6>
                <a href="mailto:{{user.email}}">{{user.email}}</a>
            </h6>
        </div>
    </div>
    <div>
        <img width="200" height="250" class="img-fluid" src="{{ asset('uploads/' ~  app.user.photo) }}" alt="{{ app.user.nom}} {{ app.user.prenom
            }}"><br>
    </div>
    <div style="display: flex;">
        <p class="text-danger">Voulez-vous supprimer votre compte? faites attention cette action et irréversible!</p>
        {{ include('user/_delete_form.html.twig') }}
    </div>
    <div>
        <p class="text-info">Voulez-vous mettre à jour votre profile? </p>
        <a class="btn btn-outline-primary" href="{{ path('profile_edit', {'id': user.id}) }}">Modifier</a>
    </div>
</div><br><br>
{% else %}
<span class="text-danger">Vous n'etes pas autoriser à afficher la page..! Contactez l'Admin. </span>
{% endif %}

<canvas id='waiting' width=800 height=800></canvas>
{% endblock %}
{% block javascript %}
<script>
    var r1 = 400;
    var r2 = 340;
    var r3 = 220;
    var slitWidth = 40;
    var speed = 0.0004;
    var attenuation = 1.7;

    function rgbToHex(r, g, b) {
        return '#' + ((1 << 24) + (r << 16) + (g << 8) + b).toString(16).slice(1);
    }

    window.nextFrame = (function (callback) {
        return window.requestAnimationFrame ||
            window.webkitRequestAnimationFrame ||
            window.mozRequestAnimationFrame ||
            window.oRequestAnimationFrame ||
            window.msRequestAnimationFrame ||
            function (callback) { window.setTimeout(callback, 1000 / 60); };
    })();

    window.onload = function () {
        var waiting = document.getElementById('waiting').getContext('2d');
        function slit(d, p) {
            shade = Math.round(Math.pow(1 - (d + p) % 1, attenuation) * 255)
            th = Math.PI * 2 * (p);
            cos = Math.cos(th);
            sin = Math.sin(th);
            waiting.strokeStyle = rgbToHex(shade, shade, shade);
            waiting.beginPath();
            waiting.moveTo(r2 * cos, r2 * sin);
            waiting.lineTo(r3 * cos, r3 * sin);
            waiting.stroke();
            waiting.closePath();
        }
        function frame() {
            waiting.arc(0, 0, r1, 0, Math.PI * 2);
            waiting.fill();
            var time = new Date().getTime() * speed;
            for (var p = 1; p > 0; p -= 0.05) { slit(time, p); }
            nextFrame(function () { frame(); });
        }
        waiting.lineCap = 'round';
        waiting.lineWidth = slitWidth;
        waiting.fillStyle = '#353535';
        waiting.translate(r1, r1);
        frame();
    }
</script>

{% endblock %}