{% extends 'base.html.twig' %}

{% block title %}Image{% endblock %}

{% block body %}
<h2>Image de {{ image.produit.produitLibelle }}</h2>

<table class="table">
    <tbody>
        <tr>
            <th>Image</th>
            <td>
                <img class="img-fluid-show" src="{{ asset('uploads/' ~  image.url) }}" alt="coca">
                <br>
            </td>
        </tr>
        <tr>
            <th>Produit</th>
            <td>{{ image.produit.produitLibelle }}</td>
        </tr>

    </tbody>
</table>

<a href="{{ path('image_index') }}">back to list</a>

<a href="{{ path('image_edit', {'id': image.id}) }}">edit</a>

{{ include('image/_delete_form.html.twig') }}
{% endblock %}