{% extends 'base.html.twig' %}

{% block title %}Produits{% endblock %}

{% block body %}

<button><a href="{{ path('produit_new') }}">Ajouter Produit </a></button>

<h2 class="accordion">Les Pizzas</h2>
<div class="panel">
    <table class="table table-hover">
        <thead class="table-active">
            <tr>
                <th>ProduitLibelle</th>
                <th>ProduitPrix</th>
                <th>Disponible</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        {% for produit in produits %}
        {% if produit.categorie.categorieLibelle == 'PIZZAS' %}
        <tbody class="table-light">
            <tr>
                <td><a href="{{ path('produit_show', {'id': produit.id}) }}">{{ produit.produitLibelle }}</a></td>
                <td>{{ produit.ProduitPrix }}€</td>
                <td>{{ produit.disponible ? 'Oui' : 'Non' }}</td>
                <td>
                    <div style="display: flex;">
                        {% for key, image in produit.images %}
                        {% if key == 0 %}
                        <a href="{{ path('image_show', {'id': image.id}) }}"><img class="img-fluid"
                                src="{{ asset('uploads/' ~  image.url) }}" alt=""></a>
                        <br>
                        {% endif %}
                        {% endfor %}
                    </div>
                </td>
                <td>
                    <a href="{{ path('produit_show', {'id': produit.id}) }}">Voir</a>
                    <a href="{{ path('produit_edit', {'id': produit.id}) }}">Modifier</a>
                    {{ include('produit/_delete_form.html.twig') }}
                </td>
            </tr>
        </tbody>

        {% endif %}

        {% else %}
        <tr>
            <td colspan="5">no records found</td>
        </tr>
        {% endfor %}
    </table>
</div>

<h2 class="accordion">Les Boissons</h2>
<div class="panel">
    <table class="table table-hover">
        <thead class="table-active">
            <tr>
                <th>Id</th>
                <th>ProduitLibelle</th>
                <th>ProduitPrix</th>
                <th>Disponible</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        {% for produit in produits %}
        {% if produit.categorie.categorieLibelle == 'BOISSONS' %}
        <tbody class="table-light">
            <tr>
                <td>{{ produit.id }}</td>
                <td>{{ produit.produitLibelle }}</td>
                <td>{{ produit.ProduitPrix }}€</td>
                <td>{{ produit.disponible ? 'Oui' : 'Non' }}</td>
                <td>
                    <div style="display: flex;">
                        {% for key, image in produit.images %}
                        {% if key == 0 %}
                        <a href="{{ path('image_show', {'id': image.id}) }}"><img class="img-fluid"
                                src="{{ asset('uploads/' ~  image.url) }}" alt="coca"></a>
                        <br>
                        {% endif %}
                        {% endfor %}
                    </div>
                </td>
                <td>
                    <a href="{{ path('produit_show', {'id': produit.id}) }}">Voir</a>
                    <a href="{{ path('produit_edit', {'id': produit.id}) }}">Modifier</a>
                    {{ include('produit/_delete_form.html.twig') }}
                </td>
            </tr>
        </tbody>

        {% endif %}

        {% else %}
        <tr>
            <td colspan="5">no records found</td>
        </tr>
        {% endfor %}
    </table>
</div>

<h2 class="accordion">Les DESSERTS</h2>
<div class="panel">
    <table class="table table-hover">
        <thead class="table-active">
            <tr>
                <th>ProduitLibelle</th>
                <th>ProduitPrix</th>
                <th>Disponible</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        {% for produit in produits %}
        {% if produit.categorie.categorieLibelle == 'DESSERTS' %}
        <tbody class="table-light">
            <tr>
                <td><a href="{{ path('produit_show', {'id': produit.id}) }}">{{ produit.produitLibelle }}</a></td>
                <td>{{ produit.ProduitPrix }}€</td>
                <td>{{ produit.disponible ? 'Oui' : 'Non' }}</td>
                <td>
                    <div style="display: flex;">
                        {% for key, image in produit.images %}
                        {% if key == 0 %}
                        <a href="{{ path('image_show', {'id': image.id}) }}"><img class="img-fluid"
                                src="{{ asset('uploads/' ~  image.url) }}" alt="coca"></a>
                        <br>
                        {% endif %}
                        {% endfor %}
                    </div>
                </td>
                <td>
                    <a href="{{ path('produit_show', {'id': produit.id}) }}">Voir</a>
                    <a href="{{ path('produit_edit', {'id': produit.id}) }}">Modifier</a>
                    {{ include('produit/_delete_form.html.twig') }}
                </td>
            </tr>
        </tbody>

        {% endif %}

        {% else %}
        <tr>
            <td colspan="5">no records found</td>
        </tr>
        {% endfor %}
    </table>
</div>

<h2 class="accordion">Les SALADES</h2>
<div class="panel">
    <table class="table table-hover">
        <thead class="table-active">
            <tr>
                <th>Id</th>
                <th>ProduitLibelle</th>
                <th>ProduitPrix</th>
                <th>Disponible</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        {% for produit in produits %}
        {% if produit.categorie.categorieLibelle == 'SALADES' %}
        <tbody class="table-light">
            <tr>
                <td>{{ produit.id }}</td>
                <td>{{ produit.produitLibelle }}</td>
                <td>{{ produit.ProduitPrix }}€</td>
                <td>{{ produit.disponible ? 'Oui' : 'Non' }}</td>
                <td>
                    <div style="display: flex;">
                        {% for key, image in produit.images %}
                        {% if key == 0 %}
                        <a href="{{ path('image_show', {'id': image.id}) }}"><img class="img-fluid"
                                src="{{ asset('uploads/' ~  image.url) }}" alt="coca"></a>
                        <br>
                        {% endif %}
                        {% endfor %}
                    </div>
                </td>
                <td>
                    <a href="{{ path('produit_show', {'id': produit.id}) }}">Voir</a>
                    <a href="{{ path('produit_edit', {'id': produit.id}) }}">Modifier</a>
                    {{ include('produit/_delete_form.html.twig') }}
                </td>
            </tr>
        </tbody>

        {% endif %}

        {% else %}
        <tr>
            <td colspan="5">no records found</td>
        </tr>
        {% endfor %}
    </table>
</div>

<h2 class="accordion">Les TACOS</h2>
<div class="panel">
    <table class="table table-hover">
        <thead class="table-active">
            <tr>
                <th>ProduitLibelle</th>
                <th>ProduitPrix</th>
                <th>Disponible</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        {% for produit in produits %}
        {% if produit.categorie.categorieLibelle == 'TACOS' %}
        <tbody class="table-light">
            <tr>
                <td><a href="{{ path('produit_show', {'id': produit.id}) }}">{{ produit.produitLibelle }}</a></td>
                <td>{{ produit.ProduitPrix }}€</td>
                <td>{{ produit.disponible ? 'Oui' : 'Non' }}</td>
                <td>
                    <div style="display: flex;">
                        {% for key, image in produit.images %}
                        {% if key == 0 %}
                        <a href="{{ path('image_show', {'id': image.id}) }}"><img class="img-fluid"
                                src="{{ asset('uploads/' ~  image.url) }}" alt="coca"></a>
                        <br>
                        {% endif %}
                        {% endfor %}
                    </div>
                </td>
                <td>
                    <a href="{{ path('produit_show', {'id': produit.id}) }}">Voir</a>
                    <a href="{{ path('produit_edit', {'id': produit.id}) }}">Modifier</a>
                    {{ include('produit/_delete_form.html.twig') }}
                </td>
            </tr>
        </tbody>

        {% endif %}

        {% else %}
        <tr>
            <td colspan="5">no records found</td>
        </tr>
        {% endfor %}
    </table>
</div>

<h2 class="accordion">Les SAUCES</h2>
<div class="panel">
    <table class="table table-hover">
        <thead class="table-active">
            <tr>
                <th>Id</th>
                <th>ProduitLibelle</th>
                <th>ProduitPrix</th>
                <th>Disponible</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        {% for produit in produits %}
        {% if produit.categorie.categorieLibelle == 'SAUCES' %}
        <tbody class="table-light">
            <tr>
                <td>{{ produit.id }}</td>
                <td>{{ produit.produitLibelle }}</td>
                <td>{{ produit.ProduitPrix }}€</td>
                <td>{{ produit.disponible ? 'Oui' : 'Non' }}</td>
                <td>
                    <div style="display: flex;">
                        {% for key, image in produit.images %}
                        {% if key == 0 %}
                        <a href="{{ path('image_show', {'id': image.id}) }}"><img class="img-fluid"
                                src="{{ asset('uploads/' ~  image.url) }}" alt="coca"></a>
                        <br>
                        {% endif %}
                        {% endfor %}
                    </div>
                </td>
                <td>
                    <a href="{{ path('produit_show', {'id': produit.id}) }}">Voir</a>
                    <a href="{{ path('produit_edit', {'id': produit.id}) }}">Modifier</a>
                    {{ include('produit/_delete_form.html.twig') }}
                </td>
            </tr>
        </tbody>

        {% endif %}

        {% else %}
        <tr>
            <td colspan="5">no records found</td>
        </tr>
        {% endfor %}
    </table>
</div>

<h2 class="accordion">Les EXTRAS</h2>
<div class="panel">
    <table class="table table-hover">
        <thead class="table-active">
            <tr>
                <th>ProduitLibelle</th>
                <th>ProduitPrix</th>
                <th>Disponible</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        {% for produit in produits %}
        {% if produit.categorie.categorieLibelle == 'EXTRAS' %}
        <tbody class="table-light">
            <tr>
                <td><a href="{{ path('produit_show', {'id': produit.id}) }}">{{ produit.produitLibelle }}</a></td>
                <td>{{ produit.ProduitPrix }}€</td>
                <td>{{ produit.disponible ? 'Oui' : 'Non' }}</td>
                <td>
                    <div style="display: flex;">
                        {% for key, image in produit.images %}
                        {% if key == 0 %}
                        <a href="{{ path('image_show', {'id': image.id}) }}"><img class="img-fluid"
                                src="{{ asset('uploads/' ~  image.url) }}" alt="coca"></a>
                        <br>
                        {% endif %}
                        {% endfor %}
                    </div>
                </td>
                <td>
                    <a href="{{ path('produit_show', {'id': produit.id}) }}">Voir</a>
                    <a href="{{ path('produit_edit', {'id': produit.id}) }}">Modifier</a>
                    {{ include('produit/_delete_form.html.twig') }}
                </td>
            </tr>
        </tbody>

        {% endif %}

        {% else %}
        <tr>
            <td colspan="5">no records found</td>
        </tr>
        {% endfor %}
    </table>
</div>

<h2 class="accordion">Les Menus</h2>
<div class="panel">

    <a href="{{ path('menu_new') }}">
        <h5>Ajouter</h5>
    </a>
    <table class="table table-hover">
        <thead class="table-active">
            <tr>
                <th>Libelle</th>
                <th>Prix</th>
                <th>contenu</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody class="table-light">
            {% for menu in menus %}
            <tr>
                <td><a href="{{ path('menu_show', {'id': menu.id}) }}">{{ menu.Libelle }}</a></td>
                <td>{{ menu.prix }}€</td>
                <td>
                    <div style="display: flex;">
                        <ul class="list-group">
                            {% for produit in menu.produitsOnMenu %}
                            <a href="{{ path('produit_show', {'id': produit.produit.id}) }}">
                                <li class="list-group-item d-flex justify-content-between align-items-center">{{
                                    produit.produit.produitLibelle }}
                                    <span class="badge bg-primary rounded-pill">{{ produit.produit.produitPrix
                                        }}€</span>
                                </li>
                            </a>
                            <br>
                            {% endfor %}
                        </ul>
                    </div>
                </td>
                <td>
                    <a href="{{ path('menu_show', {'id': menu.id}) }}">Détails</a>
                    <a href="{{ path('menu_edit', {'id': menu.id}) }}">Modifier</a>
                    {{ include('menu/_delete_form.html.twig') }}
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="{{ asset('js/script.js') }}"></script>
{% endblock %}