<!DOCTYPE html>
<html>

<head>
    {% block meta %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}
    <title>{% block title %}
        PIZZA CHICKEN BURGER
        {% endblock %}</title>
    {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/mobile.css') }}" media="all" id="themeMob_css">
    <link rel="stylesheet" href="https://bootswatch.com/2/superhero/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('css/home.css') }}" media="all" id="theme_css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Audiowide|Sofia&effect=fire|neon|outline|emboss|shadow-multiple|Trirong|Roboto">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin="" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/axentix@0.5.3/dist/css/axentix.min.css">
    <link rel="icon" href="{{ asset('img/logoClient.png') }}" type="image/x-icon" />
    {% endblock %}
</head>

<body>
    <header>
        <!-- navbar -->
        <nav class="navhead">
            <!-- navbar haute -->
            <div class="headup">
                <!-- logo -->
                <div class="logo">
                    <a href="{{ path('home')}}"><img src="{{ asset('img/logoClient1.png') }}" alt="" id="logo"></a>
                </div>
                <!-- mode livraison -->
                <div class="delivry">
                    <a href="" class="links"><img src="{{ asset('img/Delivery128.png') }}" alt="img"
                            class="up"><br><span class="font-effect-neon">LIVRAISON</span> </a>
                    <a href="" class="links"><img src="{{ asset('img/Delivery.png') }}" alt="img" class="up"><br><span
                            class="font-effect-neon">RETIRER</span> </a>
                </div>
                <!-- le panier de la commande -->
                <div class="panier">
                    <a href="{{ path('commande') }}" class="liens"><img src="{{ asset('img/panier.png') }}" alt="img"
                            class="down"><span class="badge bg-primary rounded-pill" id="panierCount">

                            {% for id, produit in app.session.get('panier') %}
                            {% set counter = ( counter | default(0) ) + produit %}
                            {% if loop.last %}
                            {{ counter }}
                            {% endif %}
                            {% endfor %}
                        </span><br><span class="font-effect-neon">LE PANIER</span></a>
                </div>
                <!-- espace utilisateur -->
                <div class="user">
                    {% if not app.user %}
                    <div class="off">
                        <a href="{{path('app_login')}}" class="links"><img src="{{ asset('img/connexion.png') }}"
                                alt="img" class="up"></a>
                        <a href="{{path('user_new')}}" class="links"><img src="{{ asset('img/inscription.png') }}"
                                alt="img" class="up"></a>
                    </div>
                    {% else %}
                    <div class="on">
                        <!-- Panel admin (gérant ou plus) -->
                        {% if is_granted("ROLE_GERANT") %}
                        <a href="{{path('admin')}}" class="links"><img src="{{ asset('img/admin.png') }}" alt="img"
                                class="up"></a>
                        {% endif %}
                        <!-- Profile edit 2 façon user_edit (role super admin) profile_edit (tous users) -->
                        {% if is_granted("ROLE_SUPER_ADMIN") %}
                        <a href="{{path('user_show',{'id': app.user.Id})}}" class="links"><img
                                src="{{ asset('img/profile.jpg') }}" alt="img" class="up"></a>
                        {% else %}
                        <!-- page qui permet consultation et modification du profile -->
                        <a href="{{path('profile',{'id': app.user.Id})}}" class="links"><img
                                src="{{ asset('img/profile.jpg') }}" alt="img" class="up"></a>
                        {% endif %}
                        <a href="{{path('app_logout')}}" class="links"><img src="{{ asset('img/deconnexion.png') }}"
                                alt="img" class="up"></a>
                    </div>
                    {% endif %}
                </div>
            </div>
            <!-- liens de la navbar basse -->
            <div id="headdown">
                <a href="{{ path('home')}}" class="liens"><img src="{{ asset('img/home.png') }}" alt="img"
                        class="down"><br><span class="font-effect-emboss">ACCUEIL</span></a>
                <a href="{{ path('menu_index') }}" class="liens"><img src="{{ asset('img/cart.png') }}" alt="img"
                        class="down"><br><span class="font-effect-emboss">Produits
                        phares</span></a>
                <a href="{{ path('menus') }}" class="liens"><img src="{{ asset('img/menu1.png') }}" alt="img"
                        class="down"><br><span class="font-effect-emboss">MENUS</span></a>
                <a href="{{ path('pizzas') }}" class="liens"><img
                        src="{{ asset('img/pizza-fast-food-bake-bread-128.png') }}" alt="img" class="down"><br><span
                        class="font-effect-emboss">PIZZAS</span></a>
                <a href="{{ path('boissons') }}" class="liens"><img src="{{ asset('img/soda.png') }}" alt="img"
                        class="down"><br><span class="font-effect-emboss">BOISSONS</span></a>
                <a href="{{ path('salades') }}" class="liens"><img src="{{ asset('img/salad.png') }}" alt="img"
                        class="down"><br><span class="font-effect-emboss">SALADES</span></a>
                <a href="{{ path('desserts') }}" class="liens"><img src="{{ asset('img/dessert.png') }}" alt="img"
                        class="down"><br><span class="font-effect-emboss">DESSERTS</span></a>
                <a href="{{ path('tacos') }}" class="liens"><img src="{{ asset('img/Hamburger.png') }}" alt="img"
                        class="down"><br><span class="font-effect-emboss">TACOS</span></a>
                <a href="{{ path('sauces') }}" class="liens"><img src="{{ asset('img/sauces.png') }}" alt="img"
                        class="down"><br><span class="font-effect-emboss">SAUCES</span></a>
                <a href="{{ path('extras') }}" class="liens"><img src="{{ asset('img/plus.png') }}" alt="img"
                        class="down"><br><span class="font-effect-emboss">EXTRAS</span></a>
            </div>
            <a href="javascript:void;" class="icon" onclick="myFunction()"></a>
            <img src="{{ asset('img/burger.png') }}" alt="menu" id="imgburger">
        </nav>
        {% for key, messages in app.flashes() %}

        {% if key == "success" %}
        {% for message in messages %}
        <div class="alert alert-success">
            {{ message }}
        </div>
        {% endfor %}

        {% elseif key == "danger" %}
        {% for message in messages %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
        {% endfor %}

        {% elseif key == "warning" %}
        {% for message in messages %}
        <div class="alert alert-warning" role="alert">
            {{ message }}
        </div>
        {% endfor %}

        {% else %}
        {% for message in messages %}
        <div class="alert alert-info">
            {{ message }}
        </div>
        {% endfor %}

        {% endif %}
        {% endfor %}
    </header>
    <main>
        <div id="wrapper">
            <div id="content">
                {% block body %}
                {% endblock %}

            </div>

        </div>
        <section class="right">
            <img src="{{ asset('img/halal.png') }}" class="halal" alt="img">
            <img src="{{ asset('img/menu.png') }}" class="menu" alt="img">
            <img src="{{ asset('img/pizza5.png') }}" class="pizza" alt="img">
            <img src="{{ asset('img/pizza8.png') }}" class="pizza" alt="img">
            <img src="{{ asset('img/pateCercle.png') }}" class="pizza1" alt="img">
            <img src="{{ asset('img/bon.png') }}" class="promo" alt="img">
            <img src="{{ asset('img/halal.png') }}" class="halal" alt="img">
            <img src="{{ asset('img/phone.png') }}" class="menu" alt="img">
        </section>
    </main>
    <footer>
        <img src="{{ asset('img/90.png') }}" class="footer-img">
        <div class="foot">
            <div class="gauche">
                <nav>
                    <a href="">A propos</a>
                    <a href="">Réglementation</a>
                    <a href="">Divers</a>
                </nav>
            </div>
            <div class="centre">
                <img id="centre" src="{{ asset('img/phone.png') }}" alt="img">
            </div>
            <div class="droite">
                <img src="{{ asset('img/cal.png') }}" alt="img" class="socialm">
                <img src="{{ asset('img/twi.png') }}" alt="img" class="socialm">
                <img src="{{ asset('img/fcb.png') }}" alt="img" class="socialm">
                <img src="{{ asset('img/ins.png') }}" alt="img" class="socialm">
                <img src="{{ asset('img/sna.png') }}" alt="img" class="socialm">
            </div>
        </div>
        <p class="edition">©
            Pizza Chicken Burger par <small>AIT M'HAMED AHMED</small>
            2021</p>
    </footer>
    {% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <script src="{{ asset('js/script.js') }}"></script>

    {% endblock %}
</body>

</html>