{% extends 'base.html.twig' %}
{% block meta %}
<meta name="csrf-token" content="{{ csrf_token('submit-item') }}">
{% endblock %}

{% block title %}TACOS{% endblock %}

{% block body %}

<h2 class="produits">Les Tacos</h2>
<table class="table table-hover">
    <thead class="table-active">
        <tr>
            <th>Produit</th>
            <th>Prix</th>
            <th>Image</th>
            <th>Disponible</th>
            <th>Quantité</th>
            <th>Ajouter au panier</th>
        </tr>
    </thead>
    {% for produit in produits %}
    <tbody class="table-light">
        <tr>
            <td><a href="{{ path('produit_show', {'id': produit.id}) }}">{{ produit.produitLibelle }}</a></td>
            <td>{{ produit.ProduitPrix }}€</td>
            <td>
                <div style="display: flex;">
                    {% for key, image in produit.images %}
                    {% if key == 0 %}
                    <a href="{{ path('image_show', {'id': image.id}) }}"><img class="img-fluid"
                            src="{{ asset('uploads/' ~  image.url) }}" alt="coca"></a>
                    <br>
                    {% endif %}
                    {% endfor %}
                </div>
            </td>
            <td>{{ produit.disponible ? 'Oui' : 'Non' }}</td>
            <td class="border-0 align-middle">
                {% if produit.disponible == 'Oui' %}
                <select name="qte" id="qte" data-id="{{ produit.id }}" class="custom-select">
                    {% for i in 1..6 %}
                    <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select>
                {% else %}
                <button type="button" class="btn btn-lg btn-primary" disabled>Bientot</button>
                {% endif %}
            </td>
            <td>
                {% if produit.disponible == 'Oui' %}
                <span data-id="{{ produit.id }}" id="ajouter"><i style=" position:relative"
                        class="fa fa-cart-plus fa-2x"></i></span>
                {% else %}
                <button type="button" class="btn btn-lg btn-primary" disabled>Bientot</button>
                {% endif %}
            </td>
        </tr>
    </tbody>

    {% else %}
    <tr>
        <td colspan="5">no records found</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script src="{{ asset('js/updatePanier.js') }}"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
{% endblock %}