{% extends 'base.html.twig' %}

{% block title %}Menu index{% endblock %}

{% block body %}
<h1>Les Menus</h1>
<a href="{{ path('menu_new') }}">
    <h5>Ajouter</h5>
</a>
<table class="table table-hover">
    <thead class="table-active">
        <tr>
            <th>Libelle</th>
            <th>Prix</th>
            <th>contenu</th>
            <th>actions</th>
        </tr>
    </thead>
    <tbody class="table-light">
        {% for menu in menus %}
        <tr>
            <td><a href="{{ path('menu_show', {'id': menu.id}) }}">{{ menu.Libelle }}</a></td>
            {% set prix = 0 %}
            {% for menu in menu.produitsOnMenu %}
            {% if menu.produit.ProduitPrix is defined %}
            {% set prix = prix + menu.produit.ProduitPrix %}
            {% if loop.last %}
            <td>{{ prix }}€</td>
            {% endif %}
            {% endif %}
            {% endfor %}
            <td>
                <div style="display: flex;">
                    <ul class="list-group">
                        {% for produit in menu.produitsOnMenu %}
                        <a href="{{ path('produit_show', {'id': produit.produit.id}) }}">
                            <li class="list-group-item d-flex justify-content-between align-items-center">{{
                                produit.produit.produitLibelle }}
                                <span class="badge bg-primary rounded-pill">{{ produit.produit.produitPrix }}€</span>
                            </li>
                        </a>
                        <br>
                        {% endfor %}
                    </ul>
                </div>
            </td>
            <td>
                <a href="{{ path('menu_show', {'id': menu.id}) }}">show</a>
                <a href="{{ path('menu_edit', {'id': menu.id}) }}">edit</a>
                {{ include('menu/_delete_form.html.twig') }}
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="4">no records found</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}